/.DS_Store
/Leksetest-sin-cos-tan.docx
/Leksetest-sin-cos-tan.pdf
/leksetest-sin-cos-tan
/tavleoppgaver-trigonometri.pdf
/trigonometri-eksamen-del1.docx
/trigonometri-eksamen-del1.pdf
/~$ksetest-sin-cos-tan.docx
/øvingsoppgaver-trig.pdf